body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.5;
}

header, section, footer {
  max-width: 800px;
  margin: 0 auto 30px auto;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 25px;
}

h3 {
  margin-top: 25px;
}

.intro {
  color: black;
}

.embed {
  width: 100%;
  max-width: 800px;
  height: 450px;
  margin: 10px 0;
}

audio.embed {
  height: auto;
}
